.error {
    color: red;
    font-size: small;
  }

  .row{
    padding-top: 20px;
  }

  button {
    margin: 10px;
  }
  #upload:enabled {
      font-size: large;
      color: white;
    background-color: #24a0ed;
  }
  .filePreview{
    height: 90vh;
    border: 1px solid black;
  }
  .fileUploaded{
    height: 90vh;
    border: 1px solid black;
  }
  #preview{
    border: 1px solid black;
    height:100vh;
  }
  
 
