.error {
    color: red;
    font-size: small;
  }
  button {
    margin: 10px;
  }
  #upload:enabled {
      font-size: large;
      color: white;
    background-color: #24a0ed;
  }

  #preview{
    border: 1px solid black;
    height:100vh;
  }
  
 
